<div class="register-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3">
                <div class="section-register">
                    <h1>Register</h1>
                    <p>Create your account. Its free and only takes a minute.</p>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <input type="text" name="firstname" formControlName="firstname" class="form-control reg-input" placeholder="Your Firstname" required>
                          </div>
                          <div class="form-group">
                            <input type="text" name="lasttname" formControlName="lastname" class="form-control reg-input" placeholder="Your Lastname" required>
                          </div>
                        <div class="form-group">
                          <input type="email" name="email" formControlName="email" class="form-control reg-input" placeholder="Your email" required>
                        </div>
                        <div class="form-group">
                          <input type="password" name="password" formControlName="password" class="form-control reg-input" placeholder="Password" required>
                        </div>
                        <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">I accept the Terms of use & Privacy policy </label>
                        </div>
                        <button type="submit" class="btn reg-btn">Register now</button>
                      </form>
                    <h6>Already have an account? <a routerLink="/">Sign in</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>

