<div class="section-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-box">
                    <div class="footer-head">
                        <img src="https://via.placeholder.com/200x50.png?text=logo" class="img-fluid">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod teincididunt ut labore et</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer-box">
                    <div class="footer-head">
                        <h4>Product Catalog</h4>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a href="#">Vegetable</a></li>
                            <li><a href="#">Fruit</a></li>
                            <li><a href="#">Sauce</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="footer-box">
                    <div class="footer-head">
                        <h4>Useful Links</h4>
                    </div>
                    <div class="footer-list">
                        <ul>
                            <li><a routerLink="home">Home</a></li>
                            <li><a routerLink="about">About</a></li>
                            <li><a routerLink="product">Product</a></li>
                            <li><a routerLink="gallery">Gallery</a></li>
                            <li><a routerLink="contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer-box">
                    <div class="footer-head">
                        <h4>Download Apps</h4>
                    </div>
                    <div class="footer-image">
                        <img src="../assets/images/google.png">
                        <img src="../assets/images/apple.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <p>Copyright © 2020 <span>VegStore</span>. All Rights Reserved.</p>
</div>